.content{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content ul{
    display: flex;
    width: 80%;
    overflow:auto;
    margin-right: 30px;
    padding: 30px;
    overflow-y: hidden;

    position: relative;
    right: 30px;
}

.content ul::-webkit-scrollbar {
    width: 5px;
}

.content ul::-webkit-scrollbar-thumb {
    background: #666; 
    border-radius: 20px;
} 

.content ul::-webkit-scrollbar-track {
    background: #121214;
    border-radius: 20px;
}

.content ul li{
    padding-right: 100px;
    display: inline-block;
}

.note{
    width: 463px;
    height: 409px;
    background-color: #202024;
    border-radius: 20px;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateY(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.4s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.note:hover, .note:focus, .note:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.note .title-progress{
    display: flex;
    flex-direction: column;
}

.note .title-progress h1{
    margin-top: 30px;
    margin-left: 160px;
    margin-bottom: 120px;
}

.note .title-progress div{
    margin-left: 140px;
    margin-bottom: 100px;
    font-size: 40px;
}

.note .title-progress .button{
    margin: 10px;
    text-decoration: none;
    text-align: center;
    
    background-color: rgba(4, 211, 97, 1);

    border-radius: 5px;
    border: 2px solid rgba(4, 211, 97, 0);

    transition-property: background-color, border;
    transition-duration: 0.4s;

    color: #e5e5e5;
}

.note .title-progress .button:hover{
    background-color: rgba(18, 18, 20, 1);
    border: 2px solid rgba(29, 186, 99, 1);
}

.content .create-button{
    position: relative;
    background-color: rgba(4,211,97, 0.80);
    padding: 30px;
    border-radius: 20px;
    border: 0.1px solid rgba(29, 186, 99, 1);

    transition-property: background-color;
    transition-duration: 0.2s;

    color: #e5e5e5;
}

.create-button:hover{
    background-color: rgba(18, 18, 20, 1);
}

.container-button button{
    background-color: #121214;
    border: none;
}

.hide{
    border: none;
    background-color: rgba(18, 18, 20, 0);
}

.note .delete-button{
    position: absolute;
    right: 0;
    padding: 5px;
    border-radius: 10px;
    border: 0.1px solid rgba(232, 56, 79, 0);
    background-color: rgba(232, 56, 79, 1);
    color: #e5e5e5;

    transition-property: border-color, background-color;
    transition-duration: 0.2s;
}

.note .delete-button:hover{
    border: 1px solid rgba(232, 56, 79, 1);
    background-color: rgba(18,18,20,1);
}


/*Media Queries*/

@media (max-width: 1024px){
    .content ul{
        margin-left: 30px;
    }

    .content .create-button{
        margin-right: 10px;
    }
}


@media (max-width: 768px){
    .content {
        flex-direction: column;
    }

    .content ul{
        margin-left: 30px;
        bottom: 15px;
        right: 0;
    }
}